IBM_API_KEY=
IBM_PROJECT_ID=
IBM_URL=https://us-south.ml.cloud.ibm.com
NLU_API_KEY=
NLU_URL=
COS_API_KEY=
COS_INSTANCE_ID=
COS_ENDPOINT=https://s3.us-south.cloud-object-storage.appdomain.cloud
COS_BUCKET=taxsmart-documents